<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="container">

    {include content}

</div>

{block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}
</body>
</html>
{**
 * @param string   $basePath cesta k souborům ve složce www/
 * @param array    $flashes  flash zprávy poslané z presenterů
 *}

{*<!DOCTYPE html>*}
{*<html lang="cs">*}
{*<head>*}
{*    <meta charset="utf-8">*}
{*    <meta http-equiv="X-UA-Compatible" content="IE=edge">*}
{*    <meta name="viewport" content="width=device-width, initial-scale=1">*}
{*    <meta name="description" content="{include description|striptags}">*}

{*    <title>{include title|striptags}</title>*}

{*    {block css}*}
{*    <link rel="stylesheet" href="{$basePath}/src/www/css/style.css">*}
{*    <link rel="stylesheet" href="{$basePath}/src/www/css/forms.css">*}
{*    <link rel="stylesheet" href="{$basePath}/src/www/css/tree.menu.css" type="text/css"/>*}


{*    <!-- Bootstrap Core CSS -->*}
{*    <link href="{$basePath}/src/www/css/bootstrap.min.css" rel="stylesheet">*}

{*    <!-- Start Bootstrap - Shop Homepage HTML Template -->*}
{*    <link href="{$basePath}/src/www/css/shop-homepage.css" rel="stylesheet">*}

{*    <!-- jQuery UI CSS -->*}
{*    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">*}
{*    {/block}*}

{*    {block head}{/block}*}
{*</head>*}

{*<body>*}
{*<!-- Navigace -->*}
{*<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">*}
{*    <div class="container-fluid">*}

{*        <div class="navbar-header">*}
{*            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">*}
{*                <span class="sr-only">Toggle navigation</span>*}
{*                <span class="icon-bar"></span>*}
{*                <span class="icon-bar"></span>*}
{*                <span class="icon-bar"></span>*}
{*            </button>*}
{*            <a class="navbar-brand" n:href=":Core:Article:default 'uvod'">{$domain}</a>*}
{*        </div>*}

{*        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">*}

{*            *}{**}{* Formulář pro vyhledávání produktů. *}
{*            <form n:name=searchForm class="navbar-form navbar-left" role="search">*}
{*                <div class="form-group">*}
{*                    <input n:name=phrase id="header-search" class="form-control" placeholder="Název zboží..." />*}
{*                </div>*}
{*                <button n:name=send class="btn btn-default">Hledat</button>*}
{*            </form>*}

{*            *}{**}{* Menu *}
{*            <ul class="nav navbar-nav">*}
{*                <li><a n:href=":Core:Administration:">Účet</a></li>*}
{*                <li><a n:href=":Core:Contact:">Kontakt</a></li>*}
{*            </ul>*}

{*            *}{**}{* Formulár pro tlačítko košíku. *}
{*            <form class="navbar-form navbar-right">*}
{*                <button type="button" class="btn btn-default">*}
{*                <a n:href=":Eshop:Order:"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Košík ({control price, $cart['price'], $settings})</a>*}
{*                </button>*}
{*            </form>*}
{*        </div>*}
{*    </div><!-- /.container-fluid -->*}
{*</nav>*}

{*<!-- Obsah stránky -->*}
{*<div class="container">*}
{*	<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type" role="alert">{$flash->message}</div>*}

{*	<div class="row">*}
{*		<div class="col-md-3">*}
{*			<div class="well" style="padding: 8px 0;">*}
{*				<nav class="menu-tree">*}
{*					{control menu, $categories}  Vykreslí menu kategorií.*}
{*				</nav>*}
{*			</div>*}
{*		</div>*}

{*		<div class="col-md-9">*}
{*			<article>*}
{*				<header>*}
{*					<h1>{include title}</h1>*}
{*				</header>*}
{*				<section>*}
{*					{include content} *}{**}{* Vložení obsahu do šablony. *}
{*				</section>*}
{*			</article>*}
{*		</div>*}
{*	</div>*}
{*</div>*}

{*<!-- Patička -->*}
{*<div class="container">*}
{*    <hr>*}
{*    <footer>*}
{*        <div class="row">*}
{*            <div class="col-lg-12">*}
{*                <p>*}
{*                    Ukázkový tutoriál pro <a href="http://nette.org/cs/" target="_blank">Nette Framework</a> z programátorské sociální sítě*}
{*                    <a href="http://www.itnetwork.cz" target="_blank">itnetwork.cz</a>. <a n:href=":Core:Administration:">Administrace</a><br />*}
{*                    Šablona od <a href="http://startbootstrap.com/">Start Bootstrap</a> pod <a href="{$basePath}/files/apache.txt">Apache 2.0 license</a>*}
{*                </p>*}
{*            </div>*}
{*        </div>*}
{*    </footer>*}
{*</div>*}

{*{block scripts}*}
{*    <!-- HTML5 Shim a Respond.js pro podporu IE8. -->*}
{*    <!--[if lt IE 9]>*}
{*    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>*}
{*    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*}
{*    <![endif]-->*}

{*    <!-- jQuery a jQuery UI -->*}
{*    <script src="{$basePath}/src/www/js/jquery.min.js"></script>*}
{*    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>*}

{*    <!-- Bootstrap JavaScript -->*}
{*    <script src="{$basePath}/src/www/js/bootstrap.min.js"></script>*}

{*    <script type="text/javascript" src="{$basePath}/src/www/js/tree.menu.js"></script>*}


{*    <!-- Další JavaScript -->*}
{*    <script>*}
{*        // Řešení konfliktu jQuery a Bootstrapu.*}
{*        $.fn.bootstrapBtn = $.fn.button.noConflict();*}
{*    </script>*}
{*{/block}*}
{*</body>*}
{*</html>*}
