body {
	padding-top: 70px;
}

#product-images-administration img {
	width: auto;
	height: auto;
	max-width: 128px;
	max-height: 128px;
	vertical-align: middle;
}

#product-images-administration a {
	position: absolute;
	right: 5px;
	top: 5px;
}

#product-images-administration > div {
	display: inline-block;
	width: 138px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px;
	position: relative;
}

.sale {
	margin-right: 5px;
}

/* Review form */
#frm-reviewForm {
	display:none;
}

.review-star{
	cursor: pointer;
}

.large-icon {
	font-size: 200%;
}

.product-description {
    height: 110px;
    padding: 0px 8px;
}

.product-caption {
    height: 48px;
    padding: 0px 8px;
}

.product-price {
    padding: 0px 8px;
}

i.product-image-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: inline-block;
}

i.product-image-background:hover {
    opacity: .7;
}

.product-image {
    display: inline-block;
    width: 100%;
}

#header-search {
	width: 128px;
}

.input-quantity {
	width: 90% !important;
	margin: 0 5%;
}

@media (min-width: 768px)
{
	.input-quantity {
		width: 65px !important;
		margin: 0;
	}
}

#order-state a:not(.text-primary) {
	color: grey;
}

#order-state a:hover {
	color: #337ab7;
}

#order-state {
	table-layout: fixed;
}

.table-vertical-center td {
	vertical-align: middle !important;
}

#cart-management input:not([type="submit"]) {
	max-width: 48px;
	width: 48px;
	min-width: 48px;
}

#snippet--personForm {
	width: 100%;
	height: calc(100% - 75px);
	border: 0;
	padding-bottom: 6px;
	border-bottom: 1px solid #DDDDDD;
	overflow-y: scroll;
}

#buyer-form {
	min-width: 500px;
	min-height: 400px;
}