parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: nette               # nextras, nette, doctrine or dibi

includes:
    - service.neon
#    - doctrine.neon

#console:
 #   name: Nette project
  #  version: '1.0'
 #   catchExceptions: True
 #   autoExit: true
 #   url: http://nette-shop:90/
#    lazy:false

security:
    users:
        admin: secret123
